ul#demo-block {
    margin: 0 15px 15px 15px;
}

ul#demo-block li {
    margin: 0 0 10px 0;
    padding: 10px;
    display: inline;
    float: left;
    clear: both;
    color: #aaa;
    background: url('img/bg-black.png');
    font: 11px Helvetica, Arial, sans-serif;
}

ul#demo-block li a {
    color: #eee;
    font-weight: bold;
}
