/*
ul#demo-block {
    margin: 0 15px 15px 15px;
}

ul#demo-block li {
    margin: 0 0 10px 0;
    padding: 10px;
    display: inline;
    float: left;
    clear: both;
    color: #aaa;
    background: url('img/bg-black.png');
    font: 11px Helvetica, Arial, sans-serif;
}

ul#demo-block li a {
    color: #eee;
    font-weight: bold;
}
*/

body {
    background: url(http://images3.wikia.nocookie.net/__cb20100801194161/spore/images/4/42/Background_Tile.png);
}

#galleria {
    height: 800px;
}

.hidden {
    display: none;
}

#loading-info {
    width:270px;
    height:150px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-75px 0 0 -135px;
    text-align: center;
    font: 20pt Verdana;
}

#loading-info-more {
    margin-top: 10px;
    color: #aaa;
    font-size: 16pt;
}

#albums-list .album {
    float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: white;
}