/*
ul#demo-block {
    margin: 0 15px 15px 15px;
}

ul#demo-block li {
    margin: 0 0 10px 0;
    padding: 10px;
    display: inline;
    float: left;
    clear: both;
    color: #aaa;
    background: url('img/bg-black.png');
    font: 11px Helvetica, Arial, sans-serif;
}

ul#demo-block li a {
    color: #eee;
    font-weight: bold;
}
*/

body {
    background: url(http://cdn.graphicsfactory.com/clip-art/image_files/image/7/1293007-022606_birdsofafeather.jpg);
}

#galleria {
    height: 800px;
}

.hidden {
    display: none;
}

#loading-info {
    width:270px;
    height:150px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-75px 0 0 -135px;
    text-align: center;
    font: 20pt Verdana;
}

#loading-info-more {
    margin-top: 10px;
    color: #aaa;
    font-size: 16pt;
}

#albums-list .album {
    float: left;
    margin: 10px;
    width: 200px;
    height: 160px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: white;
    overflow: hidden;
    text-decoration: none;
}

#albums-list .album:hover {
    background-color: rgba(0,0,0,0.8)
}

#albums-list .album img {
    clear: both;
    margin-top: 6px;
    width: 200px;
}

#login-block {
    margin: 50px auto;
    width: 400px;
    background: rgba(140,140,250,0.9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

#login-block input[type=text], #login-block input[type=password] {
    width: 300px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #1e90ff;
    padding: 5px;
    margin-top: 15px;
}

#login-block a {
    font-style: italic;
    color: #111b5e;
}